# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# IDE
.vscode/
.idea/
*.iml

# Windows 빌드 임시파일
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake

# 기타
*.log
.DS_Store
.metadata

# 안드로이드
android/local.properties
android/.gradle/
android/captures/
android/generatedConfigs/
*.keystore
*.jks

# 암호
*.keystore
*.jks
android/key.properties
lib/secrets.dart